.icon i{
    color: #fff;
}
.addon-login{
    border-radius: 0;
    color: white;
    background-color: #00c0ef !important;
    font-weight: bold;
    width: 90px;
}
.addon-register{
    border-radius: 0;
    color: #2e3434;
    background-color: #e9ecef !important;
    font-weight: bold;
    width: 115px;
}
#echo_register{
    font-weight: bold;
    color: red;
    font-size: 20px;
}
.btn{
    font-weight: bold;
}
.tab-content{
    padding-top: 15px;
}
.hexicon {
    background: url("images/hex.png");
    width: 132px;
    height: 210px;
    position: relative;
    margin: 0 auto;
}
.inicon{
    position: absolute;
    width: 100%;
    height: 100%;
}
.features {
    padding-top: 30px;
}
.inicon.retina{
    background: url("/alt/images/2.png") no-repeat center 40px;
    background-size: 80px auto;
}
.inicon.support{
    background: url("/alt/images/support.png") no-repeat center 40px;
    background-size: 80px auto;
}
.inicon.speed{
    background: url("/alt/images/speed.png") no-repeat center 40px;
    background-size: 80px auto;
}
.inicon.social{
    background: url("/alt/images/3.png") no-repeat center 40px;
    background-size: 80px auto;
}
.hexicon {
    background: url(/alt/images/hex.png);
    width: 132px;
    height: 180px;
    position: relative;
    margin: 0 auto;
}
.gioithieu{
    text-align: center;
}
.item-gioithieu{
    background: #fff;
    height: 300px;
}
.item-gioithieu .text{
    padding: 0 10px;
    text-align: center;
}
.bg-head{
    height: 300px;
    background-position: center center;
    padding-top: 45px;
    background-image: url(/alt/images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display:none;
    z-index: 9999;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: auto;
}
/*.content-wrapper{
    height: calc(100%);
}*/
.imgpost img{
    max-width: 98%;
    margin: auto;
}
.created_time{
    font-size: 10px;
    color: #f0ad4e;
}
.post{
    margin-top: 10px;
}
.fb_div .message{
    width: 100%;
    float: left;
    padding: 10px 0;
}
.fb_div .bottom{
    padding: 10px;
}
.fb-div{
    border-bottom: 1px dotted red;
    margin-bottom: 10px;
}
.fb_div{
    padding-left: 15px;
}
.ui-widget-content{
    z-index: 99999 !important;
}
iframe{
    border: 0.1px solid #595959;
    height: 250px;
}
.add_token{
    border: 1px solid red;
}
#like{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -56px -33px;
}
#love{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -75px -33px;
}
#wow{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -151px -33px;
}
#haha{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -37px -33px;
}
#sad{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -94px -33px;
}
#angry{
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(https://www.facebook.com/rsrc.php/v3/y6/r/80Toi9Z6PPm.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 1px -33px;
}
.loading{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(http://gifimage.net/wp-content/uploads/2017/02/Loading-GIF-Image-18.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}